body {
    background-color: #d1cdc5;
    font-family: "Work Sans", sans-serif;
    
}

img {
    opacity: 50%;
    max-width: 50%;
    padding: 10px;
}

.container {
    max-width: 50%;
    
}

.nav-link {
    color: black;
}

nav a {
    color: black;
}

.mr-3 {
    opacity: 80%;
}

button {
    color: #5f5b53; 
    background-color: #d1cdc5;
    border: 1px solid #6b6862;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
}